/* 
Подключили стили
*/

@font-face{
    font-family: 'Heebo';
    src: url(./fonts/Heebo/Heebo-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}

@font-face{
    font-family: 'Heebo';
    src: url(./fonts/Heebo/Heebo-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap; 
}

@font-face{
    font-family: "Yantramanav";
    src: url(./fonts/Yantramanav/Yantramanav-Bold.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}



/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* 
стартовые css переменные
*/

:root {
    /*цвета*/
    --color-dark: #000000;
    --color-dark-alternate: #131619;
    --color-light: #ffffff;
    --color-dark-gray: #404040;
    --color-light-gray: #c4c4c4;
    /*просто константы*/

    --border-radius: 30px;
    --border: 1px solid var(--color-light);


    /*шрифты*/

    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;

    /*константы-высоты кнопок и полей ввода*/
    --input-height: 54px;

    /*ширина контейнера огранич контент*/
    --container-width: 1300px;
    --container-padding-x: 35px; /* чтобы при уменьшении экрана контент не слипался с краями*/
    
    --header-height: 90px;

    --transition-duration: 0.2s; 
}


/*основные параметры страницы*/
body {
    font-family: var(--font-family-base); /* основной шрифт */
    background-color: var(--color-dark); /* основной фон */
    color: var(--color-light-gray); /* основной цвет текста */
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2); /*ограничили ширину контента*/
    margin-inline: auto; /*по горизонтали*/
    padding-inline: var(--container-padding-x); 

}

/*общие стили всех заголовков*/
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    text-transform: uppercase;
}

.button {
    display: inline-flex;
    height: 38px;
    align-items: center;
    padding-inline: 26px;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: var(--color-light);
    border: none;
    border-radius: var(--border-radius);
    white-space: nowrap; /* отключаем перенос текста*/

    /*cursor pointer ставится лишь на ссылки!!! на кнопки не налр!*/
}

.button:hover {
    background-color: var(--color-light-gray);
}

.button.transparent {
  height: var(--input-height);
  padding-left: 31px;
  padding-right: 88px;
  background-color: transparent;
  border: 1px solid var(--color-light);
  text-decoration: none;
  position: relative
}

.button.transparent::after {
  content: "";
  box-sizing: border-box;
  display: block;
  height: 100%;
  aspect-ratio: 1;
  background: url('/CrossfitLanding/icons/arrow.svg') center/70% no-repeat;
  position: absolute; 
  right: 0;
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius)
}

.button.transparent:hover{
  background-color: var(--color-light);
  color: var(--color-dark);
  border-color: var(--color-dark);
}

.button.transparent:hover::after {
  border-color: var(--color-dark);
  filter: brightness(0);
}

/*всем элементам, с которыми взаимодействует пользователь задали анимацию*/
a, button, input {
    transition-duration: var(--transition-duration)
}

a {
    color: var(--color-light);
}

a:hover {
    color: var(--color-light-gray);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px; /*чтобы при сильном сжатии экрана элементы не сжимались*/
    padding-inline: 32px;
    background-color: var(--color-dark-alternate);
    min-height: 90px;
  }

.header__logo{
    flex-shrink: 0; /*по умолчанию стоит 1 и элементы сжимаются при нехватке места*/
}

.header__menu-list {
    display: flex;
    column-gap: 50px;
}

.header__menu-link {
    display: inline-flex;
    column-gap: 7px;
    align-items: center;
    height: var(--header-height);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.2px;
}


.header__menu-link.is-current::after{
    content: '';
    width: 5px;
    aspect-ratio: 1;
    background-color: currentColor; /*наследует свойство*/ 
    border-radius: 50%;
}

.header__actions {
    display: flex;
    column-gap: 40px;
}

.header__burger-button {
    display: inline-flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: var(--border);
    padding-left: 8px;
    color: var(--color-light);
    border-radius: 50%;
}

.header__burger-button:hover{
    color: var(--color-light-gray);
    border-color: currentColor;
}
.header__burger-button-line {
    background-color: currentColor;
    width: 6px;
    height: 1px;
    box-shadow: 15px 0 0 currentColor;
}


.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.banner {
  display: flex;
  padding: 36px 70px;
  min-height: calc(100vh - var(--header-height));
  flex-direction: column;
  justify-content: end;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
  text-transform: uppercase;
}

.banner-info {
  display: flex; 
  /*
  задали display-flex, т.к по умолчанию псевдоэлементы - строчные
  но т.к. у banner-info display flex псевдоэлемент становится
  flex-элементом и на него действуют св-ва размеров
  Просто задать у псевдоэлемента display: inline-block - не вариант, 
  т.к будет перенос строки
  */
  align-items: end;
  font-size: clamp(16px, 1.56vw, 30px); 
  line-height: 1.27;
  font-weight: 700;
}

.banner-info::before {
  content: "";
  flex-shrink: 0;
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  /*порядок в background важен лишь для пары position и size*/
  background: url(./icons/bold-arrow-down-right.svg) center/contain no-repeat;
  margin-right: 30px;
}
/* для вычисления размеры во вьюпорт единицах мы смотрим на макет, 
делим высоту элемента в нем на ширину макета - коэфф - значение в вьюпорт единицах */
.banner-title {
  font-size: min(360px, 18.75vw); 
  line-height: 1;
}


.banner-pagination{
}

.banner-pagination-list{
  display: flex;
  /* column-gap: 14px; */
  justify-content: center;
}

.banner-pagination-item{
  display: flex; 
  /* пропадает маркер по умолчанию т.к. он отображается лишь при display: list-item */
}


/* 
т.к кнопки кружочки слишком маленькие и на них тяжело попасть, 
сделали их через псевдоэлементы, а с помошью padding на основном 
увеличили область нажатия
*/
.banner-pagination-button{
  padding: 7px; /*column-gap поделили пополам */
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.banner-pagination-button::after{
  content: "";
  display: block;
  width: 10px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transition: var(--transition-duration);
}
.is-current.banner-pagination-button::after{
  background-color: var(--color-light);
}

.banner-pagination-button:not(.is-current):hover::after{
  border-color: var(--color-light-gray);
}


.motivation-item:nth-child(2n){
  background: var(--color-dark-alternate);
}

.motivation-card{
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.42vw, 200px);
}

.motivation-item:nth-child(2n) .motivation-card-image{
  order: -1;
}

.motivation-card-image{
  margin-block: -60px
}

.motivation-card-body{
  padding-left: 35px;
}

.motivation-card-title:not(:last-child){
  margin-bottom: 14px;
}

.title-medium{
  font-size: clamp(20px, 2.08vw, 40px);
  color: var(--color-light);
  font-weight: 700;
  line-height: 1.3;
}

/* 
Обернул текст в span
.backdrop-title{
  position: relative;
}*/
/* .backdrop-title {
  position: relative;
  z-index: 3;
} 
.backdrop-title::before{
  text-shadow: 0px 0px 2px #FFFFFF;
  position: absolute;
  z-index: -1;
  content: attr(data-title);
  color: var(--color-dark);
  font-family: Yantramanav;
  font-size: 2.8em;
  left: -1.2ch;
  top: -0.5ch;
  font-weight: 700;
  line-height: 112px;
  text-transform: uppercase;
}  */
.backdrop-title{
  position: relative;
  z-index: 2;
}

.backdrop-title::before{
  content: "";
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  /* left: -8px; не подходит т.к. смещает только левый край*/
  width: 26px;
  aspect-ratio: 1;
  background: url('/CrossfitLanding/icons/Group.svg') center/contain no-repeat;
}


.backdrop-title::after{
  position: absolute;
  z-index: -1;
  content: attr(data-title);
  color: transparent;
  -webkit-text-stroke: 1px var(--color-light-gray);
  text-stroke: 1px var(--color-light-gray);
  font-family: var(--font-family-accent);
  font-size: 2.8em;
  top: -0.3em;
  left: -0.6em;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
} 


.motivation-card-description{
  max-width: 400px;
}
.motivation-card-description:not(:last-child){
  margin-bottom: 37px;
}

p {
  margin: 0 /* убрали вертикальные внешние отступы*/
}

p:not([class]):not(:last-child){
  margin-bottom: 24px;
}
@media (max-width: 1919px) {
  .motivation-card-image {
    margin-block: -20px
  }
  
}
@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
  }
  .header__menu {
    order: 1;
    flex-basis: 100vw;
    display: flex;
    justify-content: center;
  }
  .header__menu-list {
    flex-wrap: wrap;
  }
  .header__menu-link {
    height: 50px;
  }
  .header,
  .banner{
    padding-inline: 15px;
  }

  .banner {
    row-gap: 10px;
  }

  .motivation-card-image {
    max-width: 30%;
    height: auto;
    margin-block: 0;
  }
  .motivation-card{
    padding-block: 50px;
  }
}

@media (max-width: 767px) {

  .header{
    padding-top: 10px;
  }
  .header__menu-link {
    height: 32px;
  }
  .header__menu-list {
    column-gap: 24px;
  }

  .header__actions {
    column-gap: 15px;
  }

  .button {
    padding-inline: 18px;
  }

  .banner-info::before{
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .motivation-card{
    flex-direction: column-reverse;
  }
  .motivation-item:nth-child(2n) .motivation-card-image{
    order: 1
  }
  .motivation-card-image {
    max-width: 60%;
  }
  .motivation-card{
    padding-block: 30px;
    row-gap: 30px;
  }
  .motivation-card-description:not(:last-child){
    margin-bottom: 20px;
  }
}


/* минимальный размер экрана на который, мы должны ориентироваться 360px

*/
